@model List<CDGBulgaria.Web.ViewModels.Article.ArticleViewModel>

@{
	ViewData["Title"] = "All";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var criteria = new Dictionary<string, string>()
{
		{ "authorname-a-to-z", "AuthorName (a to z)" },
		{ "authorname-z-to-a", "AuthorName (z to a)" },
		{ "date-oldest-to-newest", "Date of Creating (oldest to newest)" },
		{ "date-newest-to-oldest", "Date of Creating (newest to oldest)" }
	};
}

<h1 class="text-center text-info">CDG Articles</h1>
<div class="d-flex justify-content-between">
	<div id="articles-search-bar-holder" class="form-group d-flex justify-content-between w-50">
		<input type="text" class="form-control text-primary" id="articles-search-bar" name="search" placeholder="Search..." />
	</div>
	<div id="sort-holder" class="form-group w-40 d-flex justify-content-between">
		<label for="sort" class="text-primary font-weight-bold w-30 h4 mt-1 text-right">Order By: </label>
		<form id="order-form"  action="/Articles/All" method="get">
			<select id="sort" class="form-control text-primary pl-2 ml-3 w-70" name="criteria">
				@if (this.ViewData["criteria"] == null)
				{
					<option selected>None</option>
				}
				else
				{
					<option>None</option>
				}

				@foreach (var elem in criteria)
				{
					if (elem.Key == (string)this.ViewData["criteria"])
					{
						<option value="@elem.Key" selected>@elem.Value</option>
					}
					else
					{
						<option value="@elem.Key">@elem.Value</option>
					}
				}
			</select>
		</form>
	</div>
</div>

<div id="articles" class="mt-3">

	@for (int i = 0; i < Model.Count(); i += 4)
	{
	<div class="articles-row row d-flex justify-content-around my-3">
		@for (int j = i; j < i + 4; j++)
		{
			if (j < Model.Count())
			{
	
		<div class="article col-md-3">
			<hr class="hr-2 bg-primary">
			<h4 class="text-center text-danger">@Model[j].Title</h4>
			<p>
				@Model[j].Summary
			</p>

			<h6 class="text-info">Created by: @Model[j].AuthorFullName</h6>

			<p>@Model[j].CreatedOn</p>
			<div id="navigation-holder" class="mt-4 d-flex justify-content-center">

				<a href="/Articles/Details/@Model[j].Id" class="btn btn-primary text-white font-weight-bold">Read More</a>
			</div>
			<hr class="hr-2 bg-primary">

		</div>
			}
			else
			{
				<div class="article col-md-2 empty">
				</div>
			}
		}
	</div>
	}
</div>

<script>
        $('#sort').change(function () {
            $('#order-form').submit();
        });

        $('#articles-search-bar').on("change paste keyup", function () {
            $('.article').show();

            let searchValue = $('#articles-search-bar').val();

            for (let elem of $('.article')) {
                let articleName = $($(elem).children()[1]).text();

                if (!articleName.toLowerCase().includes(searchValue.toLowerCase())) {
                    $(elem).hide();
                }
            }
        });
</script>


